name: Publish Release Assets
on:
  workflow_dispatch: null
  release:
    types: [published]
permissions: {}
jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      id-token: write
      packages: write
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      # https://github.com/actions/setup-go
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          cache: false
          go-version: 1.22.1
        id: go
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          install-only: true
      - name: Show GoReleaser version
        run: goreleaser --version
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.4.0
      - name: Install Syft
        uses: anchore/sbom-action/download-syft@v0.15.10
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Login to GitHub Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: tibdex/github-app-token@v2.1
        id: generate_homebrew_token
        with:
          app_id: ${{ secrets.UPDATECLIBOT_APP_ID }}
          private_key: ${{ secrets.UPDATECLIBOT_APP_PRIVKEY }}
      - name: GoReleaser
        if: success()
        env:
          AUR_KEY: ${{ secrets.AUR_KEY }}
          COSIGN_PWD: ${{ secrets.COSIGN_PWD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ steps.generate_homebrew_token.outputs.token }}
        run: |
          make release
      - name: Clean up
        run: |
          rm -f ${HOME}/.docker/config.json
