name: Test Typos
on: [pull_request]
permissions: {}
jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Check spelling of file.txt
        uses: crate-ci/typos@ebd8dcd27e512b5e2bcf6249131aade8588a8667 # renovate/stable-1.x
